* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", serif;
  scroll-behavior: smooth;
}

:root {
  --orange-color: #fa5a0a;
  --orange-2-color: #fb7531;
  --black-color: #05141f;
  --white: #fff;
  --orange-white: #fdf5f3;
}

/* ============================== Scrollbar ============================== */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--orange-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--orange-2-color);
}

/* ============================== Main header ============================== */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* ============================== Main navbar ============================== */
.main-navbar {
  padding: 20px 250px;
  background-color: var(--orange-color);
}

.navbar-logo {
  width: 120px;
}

.navbar-logo:hover {
  cursor: pointer;
}

.search-form {
  width: 700px;
}

.navbar-right-control {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--white);
}

.navbar-right-control .auth-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar-right-control .cart-btn {
  color: var(--white);
  background-color: var(--orange-2-color);
}

.menu-control {
  display: none;
}

.menu-control .dropdown-toggle::after {
  display: none; /* Ẩn mũi tên */
}

.menu-control .menu-control-btn {
  color: var(--white);
  background-color: var(--orange-2-color);
}

.menu-control .dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ============================== Sub navbar ============================== */
.sub-navbar {
  color: var(--white);
  background-color: var(--black-color);
  padding: 10px 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-navbar .right-title {
  font-size: 0.85rem;
  color: var(--orange-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.sub-navbar .section-content {
  display: flex;
  justify-content: flex-start;
  font-size: 0.9rem;
}

.sub-navbar .section-content-menu {
  display: none;
}

.sub-navbar .section-content .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sub-navbar .section-content .target {
  color: var(--white);
  text-decoration: none;
}

.sub-navbar .section-content .target:hover {
  color: var(--orange-color);
}

.sub-navbar .section-content .product-dropdown button {
  color: var(--white);
}

.sub-navbar .section-content .product-dropdown button:hover {
  color: var(--orange-color);
}

.sub-navbar .section-content .product-dropdown .dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sub-navbar .section-content-menu .product-dropdown button {
  color: var(--white);
}

/* ============================== Banner ============================== */
.banner {
  margin-top: 137.6px;
}

.banner .carousel-indicators {
  display: flex;
  gap: 10px;
}

.banner .carousel-indicators .none-active {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--black-color);
}

.banner .carousel-indicators .active {
  width: 30px;
  background-color: var(--orange-color);
  border-radius: 0;
}

.banner .banner-item {
  position: relative;
}

.banner .banner-item .title {
  position: absolute;
  top: 20%;
  left: 250px;
}

.banner .banner-item .title div {
  position: relative;
}

.banner .banner-item .title h1 {
  font-size: 4rem;
  display: flex;
  gap: 20px;
}

.banner .banner-item .title img {
  width: 500px;
  position: absolute;
  top: -150px;
  left: 300px;
}

.banner .discover-more-btn {
  color: var(--white);
  font-size: 0.8rem;
  background-color: var(--orange-color);
  border-radius: 100px;
  padding: 15px 40px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ============================== Flash sale section ============================== */
#flash-sale {
  position: relative;
  background-color: var(--orange-white);
  /* background-color: rgb(121, 33, 33); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 100px 0;
}

#flash-sale .description {
  max-width: 500px;
  text-align: center;
}

#flash-sale .article {
  position: absolute;
  top: 0;
  right: 0;
}

#flash-sale .article img:nth-child(1) {
  width: 150px;
}

#flash-sale .article img:nth-child(2) {
  width: 200px;
}

.swiper.flash-sale-swiper {
  width: 80%;
  margin-top: 50px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--black-color);
  background-color: var(--white);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev {
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 0 .708l6 6a.5.5 0 0 0 .708-.708L5.707 8l5.647-5.646a.5.5 0 0 0 0-.708z"/></svg>');
}

.swiper-button-next {
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/></svg>');
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.product-sale-card {
  position: relative;
  background-color: var(--white);
  padding: 10px 10px;
}

.product-sale-card img {
  width: 100%;
  object-fit: cover;
}

.product-sale-card .sale-tag {
  position: absolute;
  top: 10px;
  background-color: var(--orange-color);
  color: var(--white);
  font-size: 0.9rem;
  padding: 3px 5px;
}

/* ============================== Product category section ============================== */
#product-category {
  position: relative;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 100px 0;
}

#product-category .view-all-btn {
  color: var(--white);
  font-size: 0.8rem;
  background-color: var(--orange-color);
  border-radius: 100px;
  padding: 15px 40px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 20;
}

.swiper.product-category-swiper {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.product-category-card {
  display: flex;
  justify-content: center;
}

.product-category-card img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-category-card .title {
  position: absolute;
  bottom: 30px;
  left: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#product-category .article {
  position: absolute;
  left: 0;
  bottom: 0;
}

#product-category .article img {
  width: 350px;
}

/* ============================== Massage chair section ============================== */
#massage-chair {
  position: relative;
  background-color: var(--orange-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 100px 0;
}

#massage-chair .description {
  max-width: 500px;
  text-align: center;
}

.swiper.massage-chair-swiper {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.massage-chair-card {
  position: relative;
  background-color: var(--white);
  padding: 10px 10px;
}

.massage-chair-card img {
  width: 100%;
  object-fit: cover;
}

.massage-chair-card .sale-tag {
  position: absolute;
  top: 10px;
  background-color: var(--orange-color);
  color: var(--white);
  font-size: 0.9rem;
  padding: 3px 5px;
}

/* ============================== Customer review section ============================== */
#customer-review {
  position: relative;
  display: flex;
}

#customer-review .left {
  width: 50%;
  background-color: var(--orange-2-color);
  padding-left: 250px;
  padding-right: 80px;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#customer-review .right {
  width: 50%;
}

#customer-review .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#customer-review .article {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
}

/* ============================== Responsive ============================== */

@media (max-width: 1600px) {
  /* ============================== Main navbar ============================== */
  .main-navbar {
    padding: 20px 180px;
  }

  .search-form {
    width: 500px;
  }

  .sub-navbar {
    padding: 10px 180px;
  }

  /* ============================== Banner ============================== */
  .banner .banner-item .title {
    left: 180px;
  }

  .banner .banner-item .title img {
    width: 400px;
  }

  #flash-sale .article img:nth-child(1) {
    width: 100px;
  }

  #flash-sale .article img:nth-child(2) {
    width: 150px;
  }

  .product-category-card img {
    width: 95%;
  }

  /* ============================== Product category ============================== */
  .product-category-card .title {
    bottom: 30px;
    left: 60px;
  }

  #product-category .article img {
    width: 300px;
  }

  /* ============================== Customer review ============================== */
  #customer-review .left {
    padding-left: 180px;
    padding-right: 180px;
  }

  #customer-review .article {
    width: 600px;
  }
}

@media (max-width: 1366px) {
  /* ============================== Main navbar ============================== */
  .main-navbar {
    padding: 20px 100px;
  }

  .search-form {
    width: 400px;
  }

  .sub-navbar {
    padding: 10px 100px;
  }

  /* ============================== Banner ============================== */
  .banner .banner-item .title {
    left: 100px;
  }

  .banner .banner-item .title h1 {
    font-size: 2.5rem;
    gap: 15px;
  }

  .banner .banner-item .title img {
    width: 250px;
    top: -70px;
    left: 200px;
  }

  /* ============================== Product category ============================== */
  .product-category-card .title {
    bottom: 30px;
    left: 40px;
  }

  /* ============================== Customer review ============================== */
  #customer-review .left {
    padding-left: 100px;
    padding-right: 100px;
  }

  #customer-review .article {
    width: 500px;
  }
}

@media (max-width: 1024px) {
  /* ============================== Main navbar ============================== */
  .search-form {
    width: 300px;
  }

  .navbar-right-control {
    display: none;
  }

  .menu-control {
    display: block;
  }

  .sub-navbar .section-content-menu {
    display: block;
  }

  .sub-navbar .section-content {
    display: none;
  }

  /* ============================== Flash sale ============================== */
  #flash-sale span {
    max-width: 500px;
  }

  /* ============================== Product category ============================== */
  .product-category-card .title {
    bottom: 30px;
    left: 50px;
  }

  /* ============================== Customer review ============================== */
  #customer-review .left {
    width: 100%;
  }

  #customer-review .right {
    display: none;
  }
}

@media (max-width: 768px) {
  /* ============================== Main navbar ============================== */
  .main-navbar {
    padding: 20px 20px;
  }

  .search-form {
    display: none;
  }

  .sub-navbar {
    padding: 10px 20px;
  }

  /* ============================== Banner ============================== */
  .banner .banner-item .title {
    top: 15%;
    left: 20px;
  }

  .banner .banner-item .title h1 {
    font-size: 1.25rem;
    gap: 10px;
  }

  .banner .banner-item .title img {
    width: 130px;
    top: -30px;
    left: 90px;
  }

  .banner .discover-more-btn {
    color: var(--white);
    font-size: 0.5rem;
    padding: 5px 10px;
    gap: 10px;
  }

  /* ============================== Flash sale ============================== */
  #flash-sale span {
    max-width: 400px;
    font-size: 0.8rem;
  }

  #flash-sale .article img:nth-child(1) {
    width: 50px;
  }

  #flash-sale .article img:nth-child(2) {
    width: 100px;
  }

  /* ============================== Product category section ============================== */
  /* #product-category .view-all-btn {
    color: var(--white);
    font-size: 0.5rem;
    padding: 5px 10px;
    gap: 10px;
  } */

  .product-category-card .title {
    bottom: 30px;
    left: 50px;
  }

  #product-category .article img {
    width: 150px;
  }

  /* ============================== Customer review ============================== */
  #customer-review .left {
    padding-left: 20px;
    padding-right: 20px;
  }

  #customer-review .article {
    width: 400px;
  }
}
